#########################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  AUTOCREATED WITH KIAUH  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
#########################################################################################
# Those are the recommended macros and config entries if you use Mainsail or Fluidd!    #
# Feel free to edit or delete those macros if you already have them defined elsewhere!  #
#########################################################################################

[pause_resume]

[display_status]

[gcode_macro START_GCODE]
description: Gcode to prefix every print
gcode:
  #{% if printer.idle_timeout.state == "Printing" %}
  #  {action_respond_info("This command cannot be used while printing")}
  #{% else %}

    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set INITIAL_EXTRUDER_TEMP = EXTRUDER_TEMP|float - 50 %}
    {% set YMAX = printer.toolhead.axis_maximum.y|float - 50 %}

    M118 Starting
    LED_LOAD
    CLEAR_PAUSE
    G90                           # Coordenadas absolutas
    {% if printer.toolhead.homed_axes != "xyz" %}
      M118 Homing
      G28                           # Hacemos el HOME en XYZ
    {% endif %}
    BED_MESH_CALIBRATE PROFILE="Adaptive"
    M118 Heating bed
    M140 S{BED_TEMP}              # Calentamos la cama
    NEOPIXEL_DISPLAY LED=Disco TYPE=bed_temp MODE=glow
    M118 Heating extruder
    M104 S{INITIAL_EXTRUDER_TEMP} # Calentamos el extrusor
    M190 S{BED_TEMP}              # Esperamos que la cama alcance la temp
    M109 S{EXTRUDER_TEMP}         # Esperamos temp del extrusor
    NEOPIXEL_DISPLAY LED=Disco TYPE=extruder_temp MODE=glow
    M118 Printing purge line
    G92 E0                        # Reset del extruder
    G1 E-0.5 F1800                 # Retraemos un poco
    G1 X1 Y10     Z0.2 F6000      # Movemos a la posición inicial
    G1 X1 Y{YMAX} Z0.2 F1800 E15  # dibujamos la 1ª línea
    G1 Z0.4 F6000                 # nos desplazamos levemente
    G1 X1 Y10     Z0.4 F1800 E30  # dibujamos la 2º línea
    G92 E0                        # Reset del extruder
    G1            Z0.5 F6000      # movemos en Z para evitar rascadas en la base
 #{% endif %}
    M118 Starting print
    M117 Bruce is printing
    NEOPIXEL_DISPLAY LED=Disco TYPE=print_percent MODE=progress
 
[gcode_macro END_GCODE]
description: Gcode to append at end of print
gcode:
    {% set YMAX = printer.toolhead.axis_maximum.y|float - 30 %}
    G91                        # Coordenadas relativas
    G1 X-5 Y-5 F1800 E-10        # Me aparto levemente y hago retract
    G1 Z5 F6000               # Subo 5mm
    G90                        # Coordenadas absolutas
    G1 X0  Y{YMAX}  F6000      # Cabezal al fondo izquierdo
    G92 E0                     # Reset del extruder
    TURN_OFF_HEATERS
    M107                       # Apaga el ventilador
    M117
    BED_MESH_CLEAR
    SET_LED_TEMPLATE LED=Disco TEMPLATE=
    LED_OFF

[gcode_macro CANCEL_PRINT]
description: Modified print cancellation
rename_existing: BASE_CANCEL_PRINT
gcode:

    {% set YMAX = printer.toolhead.axis_maximum.y|float - 30 %}
    G91                           # Posición relativa
    G1 E-5 F1800                   # Retracción filamento quita presión
    G1 Z10                         # Levantamos y desplazamos
    G92 E0
    G90                           # Posición absoluta
    G1 X0 Y{YMAX} F6000           # Sacamos la bandeja
    #M84                           # Apagamos motores
    M107                          # Apaga ventilador capa
    TURN_OFF_HEATERS              # Apaga hotend
    CLEAR_PAUSE
    SET_LED_TEMPLATE LED=Disco TEMPLATE=
    LED_OFF
    M117
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
description: Modified pause macro
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5 %}
    ##### calculate safe lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z > (max_z - 20) %}
        {% set z_safe = max_z %}
    {% else %}
        {% set z_safe = (act_z + 20) %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    {% if printer.extruder.can_extrude == 1 %}
    G91
    G1 E-{E} F1800
    {% endif %} 
    G90
    G1 Z{z_safe} F6000
    G1 X{x_park} Y{y_park} F6000
    LED_BLUE

[gcode_macro RESUME]
description: modified pause macro
rename_existing: BASE_RESUME
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### end of definitions #####
    G91
    G1 E{E} F1800
    RESTORE_GCODE_STATE NAME=PAUSE_state
    LED_LOW
    BASE_RESUME


#########################################################################################
#########################################################################################

[gcode_macro G29]
description: Bed mesh Marlin compatibility
gcode:
  {% set BED_MESH_PROFILE_NAME = params.BED_MESH_PROFILE_NAME|default("default") %}
  {% if printer.print_stats.state == "printing" %}
    {action_respond_info("This command cannot be used while printing")}
  {% elif printer.toolhead.homed_axes != "xyz" %}
    M118 Homing
    G28
  {% endif  %}
    BED_MESH_PROFILE REMOVE={BED_MESH_PROFILE_NAME}
    BED_MESH_CALIBRATE SAVE={BED_MESH_PROFILE_NAME}
    SAVE_CONFIG

[gcode_macro M600]
description: Filament change macro
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    M118 Homing
    G28                           # Hacemos el HOME en XYZ
  {% endif %}
  {% if printer.pause_resume.is_paused == 0 %}
    PAUSE
  {% endif %}
  {% if printer.extruder.target < 200 %}
      M118 Acquiring temperature
      M109 S210
      {% else %}
      M118 Waiting for target temperature
      M119 S{printer.extruder.target}
  {% endif %}  

  M118 First UNLOAD, then LOAD new and RESUME when ready, or END_GCODE if not printing

[gcode_macro UNLOAD]
description: Unload filament helper
gcode: 
  {% if printer.pause_resume.is_paused == 1 %}
    {% if printer.extruder.can_extrude == 1 %}
      G91
      G1 E5 F300
      G1 E-50 F300
      G90
    {% else %}
      RESPOND TYPE=error MSG="Extrude below minimum temp"
    {% endif %}
  {% else %}
    RESPOND TYPE=error MSG="Printer must be paused"
  {% endif %}

[gcode_macro LOAD]
description: Load filament helper
gcode:
  {% if printer.pause_resume.is_paused == 1 %}
    {% if printer.extruder.can_extrude == 1 %}
      G91
      G1 E50 F300
      G90
    {% else %}
      RESPOND TYPE=error MSG="Extrude below minimum temp"
    {% endif %}
  {% else %}
    RESPOND TYPE=error MSG="Printer must be paused"
  {% endif %}

[gcode_macro M900]
description: Pressure advance change, Marlin compatibility
gcode:
  {% set E = params.E|default("extruder") %}
  {% set K = params.K|default(0)|float %}
  SET_PRESSURE_ADVANCE ADVANCE={K} EXTRUDER={E} 

[gcode_macro M73]
description: Progress percentage and time
rename_existing: M73.1
gcode:
  #M117 { params.R|default(0)|int} mins | { params.P|default(0)|int} %
  M73.1 P{ params.P|default(0)|int}

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}
  
#########################################################################################
#########################################################################################
